#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - pressody-retailer.php
        - src/
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/htmlburger/carbon-fields/core/functions.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # Uses method name string.
        - '#^Parameter \#2 \$method of method Cedaro\\WP\\Plugin\\AbstractHookProvider::add_action\(\) expects callable\(\)#'
        # Uses method name string.
        - '#^Parameter \#2 \$method of method Cedaro\\WP\\Plugin\\AbstractHookProvider::add_filter\(\) expects callable\(\)#'

# See full example in phpstan-full.neon
